body {
    margin: 0px;
}

button {
    color: green;
}

menu {
    margin: 0px;
    padding: 10px;
    box-shadow: #dddddd 0px 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

